<div class="dvm lhm">
  <%= link_to "Galleries", admin_galleries_path %> &gt; <%= @gallery.name %>
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= render "form" %>
  </div>
</div>
