<div class="dvm lhm">
  <%= link_to "Slideshows", admin_slideshows_path, class: "c-red" %> &gt; <%= link_to "#{@slideshow.name}", admin_slideshow_path(@slideshow), class: "c-red" %> &gt; <%= @slide.name %>
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= render "form" %>
  </div>
</div>
