<div class="dvm lhm">
  <%= link_to "Events", admin_events_path, class: "c-red" %> &gt; <%= @event.name %>
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= render "form" %>
  </div>
</div>
