<div class="dvm lhm">
  Events
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= link_to "Add Event", new_admin_event_path, class: "btn btn-primary" %>
    <div class="mtm">
      <% @events.each_with_index do |event, index| %>
        <div class="pas<%= index % 2 == 0 ? " bg-13" : " bg-12" %>">
          <table class="full-width">
            <tr>
              <td class="fwl">
                <%= link_to event.name, admin_event_path(event) %>
              </td>
              <td class="text-right">
                <%= link_to edit_admin_event_path(event) do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
