<% array = [] %>
<% @organizations.each do |organization| %>
  <% array << "<div class='c-red fwl fsxs italicize'>#{organization.name}</div>" %>
  <% organization.teams.order(:placement).each do |team| %>
    <% if team.name.present? %>
      <% array << "<div class='c-1 fsxxs fwl'>#{team.name}</div>" %>
    <% end %>
    <% team.athletes.order(:name).each do |athlete| %>
      <% array << "<div class='c-1 fsxxs'>#{athlete.name}</div>" %>
    <% end %>
  <% end %>
<% end %>
<% max = (array.length / 4.0).ceil %>
<% column_count = [max,max,max,max] %>
<% if array.length % 4 %>
  <% (4 - array.length % 4).times do |i| %>
    <% column_count[3-i] = column_count[3-i] - 1 %>
  <% end %>
<% end %>
<div class="dvxs lhxs mtxs c-8 fsxxxs fwl italicize"></div>
<% if @slideshow && @slideshow.slides.any? %>
  <div class="js-slideshow">
    <% @slideshow.slides.order(:placement).each do |slide| %>
      <div class="relative">
        <%= image_tag slide.url(:medium), class: "img-responsive" %>
        <div class="absolute bottom right phs pvxxxs mbl bg-1 c-16 fss italicize upcase">
          <%= slide.name %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="nmtm c-8 fsxxxs italicize">
  ATHLETES WE HAVE WORKED WITH
</div>
<div class="row nmhxxs mts">
  <% column_count.each do |count| %>
    <div class="col-sm-3 phxxs">
      <% array.shift(count).each do |item| %>
        <%= item.html_safe %>
      <% end %>
    </div>
  <% end %>
</div>
