<div class="dvxs lhxs mtxs c-8 fsxxxs italicize">
  RED INDICATES A PRIVATE EVENT
</div>
<div class="row nmhl nmtl">
  <% if @events.any? %>
    <% @events.each do |event| %>
      <div class="col-sm-4 phl mtl">
        <%= link_to event_path(event) do %>
          <div class="relative">
            <%= image_tag event.poster.url(:small), class: "img-responsive" %>
            <div class="absolute left right bottom mbl nowrap text-right">
              <div class="phxs pvxxxs bg-1 c-16 fsxxs fwl italicize upcase pull-right nowrap<%= " bg-red" if event.private? %>" style="overflow: hidden;text-overflow: ellipsis;max-width: 100%">
                <%= event.name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="fss fwl c-1 text-center mtxxxxl">
      NO EVENTS SCHEDULED
    </div>
    <div class="fsxs c-1 text-center">
      Come back soon!
    </div>
  <% end %>
</div>
