<div class="mtl fsm fwl italicize text-center">
  THANK YOU FOR YOUR ORDER
</div>
<div class="mtxs c-8 text-center">
  Your order is processing.
</div>
<div class="row nmhxs mtl">
  <div class="col-sm-4 col-sm-offset-4 phxs">
    <%= link_to "Find More Events", events_path, class: "btn btn-primary full-width" %>
  </div>
</div>
