<div class="dvm lhm">
  <%= link_to "Organizations", admin_organizations_path, class: "c-red" %> &gt; <%= link_to "#{@organization.name}", admin_organization_path(@organization), class: "c-red" %> &gt; <%= link_to @team.name, admin_organization_team_path(@organization, @team), class: "c-red" %> &gt; New Athlete
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= render "form" %>
  </div>
</div>
