<div class="dvm lhm">
  <%= link_to "Organizations", admin_organizations_path, class: "c-red" %> &gt; New Organization
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= render "form" %>
  </div>
</div>
