<div class="dvm lhm">
  Slideshows
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <% @slideshows.each_with_index do |slideshow, index| %>
      <div class="pas<%= index % 2 == 0 ? " bg-13" : " bg-12" %>">
        <%= link_to slideshow.name, admin_slideshow_path(slideshow), class: "fwl" %>
      </div>
    <% end %>
  </div>
</div>
