<div class="row nmhl">
  <% @galleries.each do |gallery| %>
    <% if gallery.photos.any? %>
      <div class="col-sm-4 phl mtl">
        <%= link_to gallery_path(gallery) do %>
          <div class="relative">
            <%= image_tag gallery.photos.first.attachment.url(:thumbnail), class: "img-responsive" %>
            <div class="absolute left right bottom mbl nowrap text-right">
              <div class="phxs pvxxxs bg-1 c-16 fsxxs fwl italicize upcase pull-right nowrap" style="overflow: hidden;text-overflow: ellipsis;max-width: 100%">
                <%= gallery.name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
