<div class="dvxs lhxs mtxs c-1 fsxxxs fwl italicize">
  <%= link_to galleries_path do %>
    <i class="fa fa-caret-left"></i> VIEW ALL ALBUMS
  <% end %>
</div>
<div class="row nmhm nmtl">
  <div id="masonry-container">
    <% @photos.each do |photo| %>
      <div class="col-md-4 phm mtl item">
        <%= link_to photo.url(:medium), class: "js-lightbox" do %>
          <%= image_tag photo.url(:medium), class: "img-responsive" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
