<div class="container phm pvm text-center c-8 fsxxxs italicize">
  <div class="">&copy; 2014 SIDELINE MARKETING, LLC</div>
  <div class=""><%= link_to "ADMIN PANEL", admin_orders_path %></div>
  <div class="mtxs">
    <%= link_to "http://cupofhunks.com" do %>
      <%= image_tag "cup.png" %>
    <% end %>
  </div>
</div>
